<section class="post" >
        <div class = "title" >
                <h1 class="name"> <%- page.title %>  </h1>
                <span class="date" ><%- page.updated.format('LL') %> </span>
        </div>
        <div class="content" >
                <%- page.content %>
        </div>
</section>