<html>
<head>
    <meta charset="UTF-8">
    <title> hello  </title>
    <link rel="stylesheet"  href="/css/main.css" type="text/css" />
</head>
<body>
<header>
    <a id="" href="/"> Mon blog tech </a>
</header>

<!--<nav>
    <a href="/apropos"> a propos</a> <a href="/contact"> contact</a>
</nav> -->

<%- body %>

</body>
</html>